body
{
    font-family: 'Roboto Slab', 'Roboto', 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
html
{
    position: relative;
    height: 90%;
    min-height: 90%;
    margin: 0;
    box-sizing: border-box;
}
.header
{
    margin-top: 60px;
    margin-bottom: 20px;
}
.headshot
{
    width: 200px;
    height: 200px;
}
.intro
{
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    color: #777;
    margin-top: 0px;
	margin-bottom: 30px;
}
.social a
{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #526d7a;
    color: #526d7a;
}
